AI_API_KEY=<your_api_key_here>
AI_API_BASE_URL=https://ai.hackclub.com/proxy/v1
INTAKE_AGENT_MODEL=google/gemini-3-flash-preview
INFERENCE_AGENT_MODEL=google/gemini-3-flash-preview
RESEARCH_AGENT_MODEL=google/gemini-3-flash-preview
EXA_API_KEY=    # Leave blank to use AI_API_KEY
EXA_BASE_URL=     # Leave blank to use AI_API_BASE_URL
TUI_SSH_PORT=2222
